{{extend 'layout.html'}}

<div style="padding-top:50px; width:400px">
  {{=form}}
</div>

{{for cat in cats:}}
<div style="display:inline-block; margin:10px;">
   <img src="{{=cat.image}}" style="height:300px" />
   <div>
     {{=cat.name}} 
     {{if auth.user:}}
     <input class="form-control rating" value="{{=cat.rating}}" data-cat="{{=cat.id}}"/>
     {{pass}}
   </div>
</div>
{{pass}}

<script>
jQuery('input.rating').each(function(){
        var span = jQuery('<span style="white-space:nowrap" />');
        var self = jQuery(this).hide().after(span);
        var fill_stars = function() {
            var k = parseInt(self.val()) || 0;
            for(var i=1; i<6; i++) span.find('.rate'+i).html((i<=k)?'&#x2605;':'&#x2606;');
        };
        for(var k=1; k<6; k++) (function(k){
                span.append('<span class="rate'+k+'">&#x2606;</span>');
                span.find('.rate'+k).mouseover(function(){
                        for(var i=1; i<6; i++) span.find('.rate'+i).html((i<=k)?'&#x2605;':'&#x2606;');
                    }).click(function(){ self.val(k); fill_stars();
                        jQuery.post('{{=URL('vote')}}',{'cat':self.attr('data-cat'),'rating':k});
                    });
        })(k);
        span.mouseout(fill_stars);
        fill_stars();
    });
</script>

